/* Global Layout Set-up */
body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: #222;
  background: #f7f5f0;
}

/* Section Styles */
#healthProgress {
  height: 65px;
}

#healthBar {
  height: 65px;
}

.enemy {
  display: block;
}

.player {
  display: block;
}

.container {
  width: 450px;
  margin: auto;
}

.first {
  width: 200px;
  margin-right: 50px;
  float: left;
}

.second {
  width: 200px;
  float: left;
}

.clear {
  clear: both;
}
